.sass {
    background-color: #ffe100;
    color: #d4080c;
    border-color: #1eff00;
    margin: #1eff00; }
  
  .title {
    background-image: url("/img/panes_inicio.jpg");
    padding: 3em; }
  
  .jumbotron {
    margin-top: 2rem;
    margin: 0rem; }
  
  .card-characteristics {
    padding: 2em; }
  
  .icon {
    color: #ff8800;
    margin: 1em;
    font-size: 55px; }
  
  .logo {
    color: #ff8800;
    padding: 1em; }
  
  .cardProduct {
    width: 16rem;
    margin: 5px; }
  
  .icon-nav {
    font-size: 2rem;
    color: #ff8800;
    margin-right: 15px; }
  
  .icon-footer {
    font-size: 6rem;
    color: #ff8800; }
  
  .nav-i {
    --bs-breadcrumb-divider: '>'; }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%); }
  
  .cont {
    position: relative;
    text-align: center;
    color: white; }
  
  .num-cant {
    font-size: 22px;
    color: gray; }
  